.navbar {
  float: right;
  margin: 20px;
}
.nav-item {
  text-decoration: none;
  color: black;
  margin-right: 15px;
}
.nav-item:hover {
  text-decoration: underline;
}
.main {
  margin-top: 300px;
  text-align: center;
}
body {
  display: contents;
}
.input-area {
  margin-top: 20px;
}
.input-box {
  width: 584px;
  height: 46px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  padding-left: 40px;
  padding-right: 40px;
}
.search-icon {
  position: relative;
  left: 40px;
  color: #9aa0a5;
}
.mic-icon {
  position: relative;
  right: 40px;
  color: #9aa0a5;
}
.button-area {
  padding-top: 18px;
}
.button-color {
  color: #3c4043;
  height: 36px;
  background-color: #f8f9f8;
  border-color: #f8f9f8;
  font-style: arial;
  padding: 0 16px;
  margin: 16px;
}
.footer {
  position: absolute;
  bottom: 0px;
  background-color: #f2f2f2;
  width: 100%;
}
.first-line {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
}
.second-line {
  padding: 15px 30px;
  font-size: 15px;
}
.second-line:second {
  float: right;
}
